name: Slack-integration-test

on:
  push:   # Triggers workflow on every push

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Send Slack Message
        uses: slackapi/slack-github-action@v2
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
              "text": "✅ Test successful! GitHub Actions is now talking to Slack."
            }
      - name: Notify Slack on Failure
        if: failure()  # Only runs if a previous step fails
        uses: slackapi/slack-github-action@v2
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            {
              "text": "❌ *Build Failed!* \n *Repo:* ${{ github.repository }} \n *Commit:* ${{ github.sha }} \n <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View Failed Run>"
            }
